<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.carface_movil">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarFace_Movil"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AggGuardia"
            android:exported="false" />
        <activity
            android:name=".MenuAdmin"
            android:exported="false" />
        <activity
            android:name=".EditaInfoChofer"
            android:exported="false" />
        <activity
            android:name=".InformacionPersonal"
            android:exported="false" />
        <activity
            android:name=".RegistraVehiculo"
            android:exported="false" />
        <activity
            android:name=".MenuChofer"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />

        <service
            android:name=".MyService"
            android:stopWithTask="false" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icono_download" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_700" />
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />

        <activity
            android:name=".Solicitud"
            android:exported="false" />
        <activity
            android:name=".EscanearVehiculo"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>